.body{

}

#theNav{
  border-style:none;
}



#sel{
  color:white;
  font-weight: bold;
  font-size:20px;
  padding-left:70px;
}

#logo{
  position: relative;
  right:30px;
}


#footer{
  background-color:rgba(36, 102, 255,.2);
}

#foot{
  position: relative;
  left:48px;
}
