.body{

}


#Boxes{
   border-left-style:solid;
   border-right-style:none;
   border-bottom-style: none;
   border-color:black;
   border-width:2px;

}

h2{
  color:black;
}

img{
  margin-top: 50px;
}

#description{
  padding:20px;
  margin-left:30px;
}

p{
  color:black;
  font-weight: bold;
  font-size: 20px;
}

li{
  color:black;
  font-weight: bold;
}
